body {
  background-color: #ffdfb9;
}

ul {
  list-style-type: none;
  padding: 0;
}

h1,
h2 {
  color: #a4193d;
}

a {
  color: #ffdfb9;
}

.article-box {
  padding: 15px;
  background-color: #a4193d;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}
